@inherits LayoutComponentBase
@inject LayoutHeaderState HeaderState

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <header class="top-row px-4 d-flex align-items-center">
            <div class="top-brand d-flex align-items-center gap-2">
                <div class="top-brand-icon">
                    <i class="@HeaderState.IconClass"></i>
                </div>
                <div class="top-brand-text">
                    <div class="text-uppercase fw-semibold">
                        @HeaderState.Title
                    </div>
                    <div class="text-white-50 small d-none d-sm-block">
                        @HeaderState.Subtitle
                    </div>
                </div>
            </div>
        </header>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>

@code {
    protected override void OnInitialized()
    {
        HeaderState.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        HeaderState.OnChange -= StateHasChanged;
    }
}
