@implements IDisposable

@inject NavigationManager NavigationManager

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid d-flex justify-content-between align-items-center">
        <a class="navbar-brand" href="">DiarioMagna</a>
        <span class="navbar-text d-none d-sm-inline text-light small">
            Plataforma de gestión de noticias
        </span>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Inicio
            </NavLink>
        </div>

        <AuthorizeView Roles="Secretaria,RelacionesPublicas">
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="articles/create">
                        <span class="bi bi-plus-circle-nav-menu"></span> Crear Artículo
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>

        <AuthorizeView Roles="RelacionesPublicas">
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="admin/solicitudes">
                        <span class="bi bi-journal-text-nav-menu" aria-hidden="true"></span> Panel de Solicitudes
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>
        <AuthorizeView Roles="EncargadoSistema,Administrador">
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="admin/noticieros">
                        <span class="bi bi-broadcast-pin-nav-menu" aria-hidden="true"></span> Noticieros
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>


        <AuthorizeView Roles="EncargadoSistema">
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="admin/envios">
                        <span class="bi bi-send-check-fill-nav-menu" aria-hidden="true"></span> Panel de Envíos
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>

        <AuthorizeView>
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="Account/Manage">
                        <span class="bi bi-person-fill-nav-menu" aria-hidden="true"></span> @context.User.Identity?.Name
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <form action="Account/Logout" method="post">
                        <AntiforgeryToken />
                        <input type="hidden" name="ReturnUrl" value="@currentUrl" />
                        <button type="submit" class="nav-link">
                            <span class="bi bi-arrow-bar-left-nav-menu" aria-hidden="true"></span> Logout
                        </button>
                    </form>
                </div>
            </Authorized>
            <NotAuthorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="Account/Register">
                        <span class="bi bi-person-nav-menu" aria-hidden="true"></span> Registrarse
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="Account/Login">
                        <span class="bi bi-person-badge-nav-menu" aria-hidden="true"></span> Iniciar sesión
                    </NavLink>
                </div>
            </NotAuthorized>
        </AuthorizeView>
    </nav>
</div>

@code {
    private string? currentUrl;

    protected override void OnInitialized()
    {
        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }
}
